name: Cron - mark stale for inactive issues

permissions:
  issues: write
  pull-requests: write

on:
  workflow_dispatch:
jobs:
  stale:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/stale@v7
        with:
          days-before-close: -1
          days-before-issue-stale: 60
          days-before-issue-close: -1
          days-before-pr-stale: 7
          days-before-pr-close: 14
          stale-pr-message: "This PR has been marked as stale due to inactivity. If you're still working on it or need any help, please let us know or update the PR to keep it active."
          close-pr-message: "This PR has been closed due to inactivity. Please feel free to reopen it if you'd like to continue the work."
          operations-per-run: 100

