name: DO redeploy (manual test)

on:
  workflow_dispatch:

jobs:
  redeploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install doctl (pin version)
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_API_TOKEN }}
          version: "1.146.0"

      - name: Debug doctl
        run: |
          which doctl
          doctl version
          doctl apps create-deployment --help | sed -n '1,120p'

      - name: Trigger App Platform deployment
        run: |
          doctl apps create-deployment "${{ secrets.DO_APP_ID }}" --update-sources --wait
