name: Redeploy DigitalOcean App (scheduled)

on:
  schedule:
    - cron: "0 4 * * *"  # daily at 04:00 UTC
  workflow_dispatch:

jobs:
  redeploy:
    runs-on: ubuntu-latest
    steps:
      - name: Trigger DigitalOcean App Platform deploy
        uses: digitalocean/app_action/deploy@v2
        with:
          token: ${{ secrets.DO_API_TOKEN }}
          app_name: ${{ secrets.DO_APP_NAME }}
