name: DO redeploy (manual test)

on:
  workflow_dispatch:

jobs:
  redeploy:
    runs-on: ubuntu-latest
    steps:
      - name: Install doctl
        uses: digitalocean/action-doctl@v2
        with:
          token: ${{ secrets.DO_API_TOKEN }}

      - name: Redeploy (force rebuild)
        run: |
          doctl version
          doctl apps create-deployment "${{ secrets.DO_APP_ID }}" --force-rebuild --wait
